<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>FranLops Page</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<header>
		<div class="contenedor">
			<nav class="menu">
				<a href="#acerca-de">Acerca de</a>
				<a href="#trabajos">Trabajos</a>
				<a href="#contacto">Contacto</a>
			</nav>
			
			<div class="contenedor-texto">
				<div class="texto">
					<h1 class="nombre">Francisco López</h1>
					<h2 class="profesion">Desarrollador Web</h2>
				</div>
			</div>
		</div>
	</header>

	<section class="main">
		<section class="acerca-de" id="acerca-de">
			<div class="contenedor">
				<div class="foto">
					<img src="img/foto.jpg" width="115" height="115" alt="Carlos Arturo">
				</div>
			
				<div class="texto">
					<h3 class="titulo">Acerca de</h3>
					<p>This is <span class="bold">Photoshop's version</span> of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis <span class="bold">bibendum auctor</span>, nisi elit consequat ipsum.</p>
				</div>
			</div>
		</section>
			
		<section class="trabajos" id="trabajos">
			<div class="contenedor">
				<h3 class="titulo">Trabajos</h3>
						
				<div class="contenedor-trabajos">
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/1.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/2.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/3.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/4.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/5.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/6.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/7.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
					<div class="trabajo">
						<div class="thumb">
							<img src="img/trabajos/8.jpg" alt="Lorem Ipsum">
						</div>
						<div class="descripcion">
							<p class="nombre">Lorem Ipsum</p>
							<p class="categoria">HTML - CSS - PHP</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<footer>
		<div class="contenedor" id="contacto">
			<section class="contacto">
				<h3 class="titulo">Contacto</h3>
				<form class="formulario" action="">
					<input type="text" placeholder="Nombre" name="nombre" required>
					<input type="email" placeholder="Correo" name="correo" required>
					<textarea name="mensaje" placeholder="Mensaje:"></textarea>
					<input class="boton" type="submit" value="Enviar">
				</form>
			</section>
		</div>
			
		<section class="redes-sociales">
			<div class="contenedor">
				<a class="twitter" href="http://twitter.com/FranLop84" target="_blank"><i class="fa fa-twitter"></i></a>
				<a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
				<a class="youtube" href="http://www.youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>
				<a class="github" href="http://www.github.com/franlop24" target="_blank"><i class="fa fa-github"></i></a>
				<a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
			</div>
		</section>
	</footer>
</body>
</html>